@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap');
:root {
  --color-primary: #103B6B;
  --color-primary-hover: rgba(16, 59, 107, 0.50);
  --color-secondary: #FF5815;
  --color-secondary-hover:#FFD7C7;
  --color-background: #103B6B;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dadada;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}