@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Noto+Kufi+Arabic:wght@100..900&display=swap");

:root {
  --color-primary: #103b6b;
  --color-primary-hover: rgba(16, 59, 107, 0.5);
  --color-secondary: #ff5815;
  --color-secondary-hover: #ffd7c7;
  --color-background: #103b6b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Default font for the entire document */
  html {
    font-family: "Fredoka", sans-serif;
  }

  /* Arabic-specific font override */
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div {
    font-family: "Noto Kufi Arabic", sans-serif;
  }

  /* You can further target specific Arabic elements */
  [lang="ar"] {
    font-family: "Noto Kufi Arabic", sans-serif;
  }
  html[lang='ar']{
    
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dadada;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
